singularity.enabled = true
process {
  executor = 'local'
  container = '/zstor/containers/singularity/post-vcf.img'
}

executor {
    name = 'slurm'
    clusterOptions = '--no-requeue'
}

params {
  vcf_file = '/zstor/2016-tiger-wgs/vcfs/subsampled/fb-170208-snp-q30-gq30-hwe-ss0.001.vcf'
  sample_groups = 'sample_groups.tsv'
  excludesamples = ["ZOO7","WBT1","AMU6","GEN1","GEN2","GEN3","GEN12","GEN13","GEN14","GEN15","GEN16","GEN17","GEN18","GEN19","GEN10","GEN20","GEN21","GEN22","GEN23","GEN4","GEN5","GEN6","GEN7","GEN8","GEN9","GEN11"]
  output_prefix = 'bs-test'
  ldak_section_length = 100
  rf_tasks = 4
  run_vcftools_basicstats = true
  run_vcftools_popstats = true
  run_plink_stats = true
  run_rarefaction = false
  run_ldak = false
  vcftools_basicstats =
     [['param':'counts'         , 'ext':'frq.count'],
      ['param':'depth'          , 'ext':'idepth'],
      ['param':'site-depth'     , 'ext':'ldepth'],
      ['param':'site-mean-depth', 'ext':'ldepth.mean'],
      ['param':'geno-depth'     , 'ext':'gdepth'],
      ['param':'het'            , 'ext':'het'],
      ['param':'relatedness'    , 'ext':'relatedness'],
      ['param':'relatedness2'   , 'ext':'relatedness2'],
      ['param':'missing-indv'   , 'ext':'imiss'],
      ['param':'singletons'     , 'ext':'singletons'],
      ['param':'freq'           , 'ext':'frq'],
      ['param':'site-quality'   , 'ext':'lqual']]
  vcftools_popstats =
     [['param':'counts'         , 'ext':'frq.count'],
      ['param':'depth'          , 'ext':'idepth'],
      ['param':'site-depth'     , 'ext':'ldepth'],
      ['param':'site-mean-depth', 'ext':'ldepth.mean'],
      ['param':'geno-depth'     , 'ext':'gdepth'],
      ['param':'het'            , 'ext':'het'],
      ['param':'freq'           , 'ext':'frq']]
  plink_basicstats =
    [['param':'freq'               , 'ext':'frq'],
    ['param':'freq counts'         , 'ext':'frq.counts'],
    ['param':'ibc'                 , 'ext':'ibc'],
    ['param':'het'                 , 'ext':'het'],
    ['param':'genome'              , 'ext':'genome'],
    ['param':'pca'                 , 'ext':'eigen*'],
    ['param':'cluster'             , 'ext':'cluster*'],
    ['param':'homozyg'             , 'ext':'hom'],
    ['param':'distance'            , 'ext':'dist*'],
    ['param':'make-rel'            , 'ext':'rel*'],
    ['param':'make-grm-gz no-gz' , 'ext':'grm*']]
}



