singularity.enabled = true
process {
  executor = 'local'
  container = '/zstor/containers/singularity/post-vcf.img'
}

executor {
    name = 'slurm'
    clusterOptions = '--no-requeue'
}

params {
  vcf_file = '/zstor/2016-tiger-wgs/vcfs/chr-renamed/fb-170208-snp-q30-gq30-hwe-ss0.001.vcf'
  sample_groups = 'sample_groups.tsv'
  vcfsamplenames = ["AMU1","AMU2","AMU4","AMU5","AMU9","MAL1","MAL2","MAL3","MAL4","SUM1","SUM2","SUM6","SUM13","ASS1","BAN1","RTR5","WAY10","WAY12","WAY2","WAY3","WAY4","WAY9","KTR9","SI2","ASS2","CHAN1","RTR6","ZOO10","ZOO1","ZOO2","ZOO4","ZOO5","ZOO6","ZOO7","ZOO8","AMU3","MAL5","MAL6","SUM3","SUM4","SUM5","AMU12","AMU15","AMU16","AMU17","AMU18","AMU20","AMU21","AMU22","AMU23","MAL10","MAL11","MAL12","MAL13","MAL15","MAL26","MAL7","MAL9","SUM14","SUM7","SUM8","SUM9"]
  excludesamples = ["WBT1","AMU6","GEN1","GEN2","GEN3","GEN12","GEN13","GEN14","GEN15","GEN16","GEN17","GEN18","GEN19","GEN10","GEN20","GEN21","GEN22","GEN23","GEN4","GEN5","GEN6","GEN7","GEN8","GEN9","GEN11"]
  output_prefix = 'bs-test'
  ldak_section_length = 100
  rf_tasks = 4
}



